body{
    margin:0 auto;
    font-family: Roboto,sans-serif;
}
a{
    text-decoration: none;
}
.nav{
	position: fixed;
	z-index: 100;
}
.Inicio{
    display: block;
    letter-spacing: 1.2px;
   height: 70px;
    width: 100%;
    position: fixed;
	z-index: 100;
    background-color: white;
}
.indU{
    float: left;
   padding-right: 38em;
}
.indD{
    float: right;
     color: rgb(117, 118, 116);
}
.imagIn{
    width: 174px;
    height: 32px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 0px;
    padding-top: 18px;
}
.link{
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.15s;
    transition-property: border-bottom, color;
    color: rgb(117, 117, 117);
}
.link:hover{
    border-bottom-color: #6AB344;
    color: #6AB344;
}
.navMenu{
    display: block;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-top: 1.5em;
    margin-right: 2em;
    height: 40px;
    border-bottom-color: rgb(117, 118, 116);
}
.navMenuI{
    display: block;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-top: 1.5em;
    height: 40px;
    border-bottom-color: rgb(117, 118, 116);
}
.divUno{
    background-image: url(../Imagenes/spotlight-stories-1024.jpg);
    widows: 840px;
    height: 600px;
    width: 100%;
    background-size: cover;
}
.Bolita{
    background-color: #64ffda;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    bottom: -28px;
    box-sizing: border-box;
    height: 55.9896px;
    width: 55.9896px;
    margin-left: 70em;
    margin-bottom: 10em;
    margin-top: 6.5em;
    color: black;
    text-align: center;
}
.Bolita p{
    padding-top: 1em;
}
.Bolita a{
     text-decoration: none;
     color: rgb(117, 117, 117);
}
.spotimg{
    padding-left: 35em;
    width: 250px;
}
.parrU{
    max-width: 330px;
    font-size: 22px;
    text-align: center;
    color: white;
    padding-left: 23em;
}
.botonu{
    max-width: 120px;
    padding-left: 39em;
}
.boton{
    background: rgb(252, 14, 26);
    color: white;
    max-width: 120px;
    text-align: center;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
}
.divD{
    background-color: white;
    width: 100%;
    height: 70px;
}
.menuBo{
    background: url(../Imagenes/green-s152762af05.png);
    cursor: pointer;
}
.opU{
    background-color: greenyellow;
    border-bottom-left-radius:12px;
    font-size: 16px;
}
.divT{
    display: block;
    letter-spacing: normal;
    text-align: center;
}
.subtituloD{
    font-size: 32px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
}
.parrT{
    max-width: 510px;
    text-align: left;
    padding-left: 28em;
    text-align: center;
}
.divC{
    background-color: white;
    height: 420px;
    margin-left: 8em;
}
.divC a{
    text-decoration: none;
    color: rgb(51, 150, 0);
}
.partUc{
    float: left;
    margin-bottom: 7em;
    padding-bottom: 5em;
    text-align: center;
}
.imgCu{
    padding-top: 13.8em;
    max-width: 120px;
    max-height: 170px;
    padding-left: 2em;
}
.imgCd{
    padding-top: 13.2em;
    max-width: 135px;
    max-height: 120px;
    padding-left: 2.3em;
}
.imgCt{
    padding-top: 11.3em;
    max-width: 200px;
    max-height: 150px;
    padding-left: 2.3em;
}
.imgCc{
    padding-top: 9em;
    max-width: 300px;
    max-height: 300px;
    padding-left: 2.3em;
}
.imgCauto{
    max-width: 375px;
    max-height: 350px;
    padding-left: 7em;
    display: block;
}
.divCinco{
    background-image: url(../Imagenes/wear3-1024.png);
    height: 500px;
    background-size: cover;
}
.divSeis{
    background-color: rgb(69, 90, 100);
    display: block;
    color: white;
    height: 230px;
    overflow-y: hidden;
}
.subSeis{
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    letter-spacing: normal;
    padding-left: 4.9em;
    font-size: 2.2em;
}
.paSeis{
    font-family: Helvetica,Arial,sans-serif;
    padding-left: 11em;
    display: block;
    letter-spacing:1px; ;
    max-width: 670px;
    font-size: 16px;
}
.enlSeis{
     font-family: Helvetica,Arial,sans-serif;
    padding-left: 11em;
    display: block;
    letter-spacing: normal;
    color: aqua;
    display: inline-block;
    cursor: pointer;
}
.divSiete{
    display: block;
}
.divSiete{
      font-family: Helvetica,Arial,sans-serif;
    display: block;
    text-align: center;
}
.subSie{
    padding-top: 2em;
    font-size: 36px;
}
.parrSie{
    max-width: 500px;
    padding-left: 26em;
    font-size: 16px;
}
.parrSiete{
    font-family: Helvetica,Arial,sans-serif;
    display: block;
    color: darkolivegreen;
}
.imgOcho{
    width: 100%;
}
.divNueve{
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}
.tituloNu{
    font-family: Helvetica,Arial,sans-serif;
    text-align: left;
    font-size: 18px;
    padding-left: 8em;
    padding-top: 3em;
}
.NueImagenes{
    padding-top: 2em;
    padding-left: 7em;
}
.menuNueve{
    float: left;
    margin: 2em;
    border: solid 1px;
    border-color: rgb(117, 118, 116);
}
.imgUN{
    max-width: 300px;
    max-height: 300px;
}
.parrUN{
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 21px;
    max-width: 300px;
}
.parrUNo{
    padding-top: 1em;
    padding-bottom: 4em;
    font-size: 21px;
    max-width: 300px;
}
.verdeen{
    text-decoration: none;
    color: green;
}
.divDiez{
    background-color: white;
    width: 100%;
    height: 70px;
}
footer{
    background-color: white;
    color: darkgray;
}
.parrFU{
    text-align: right;
     font-family: Helvetica,Arial,sans-serif;
    padding-right: 12px;
}
.logos{
    width: 40px;
    height: 40px;
    padding-left: 10px;
}
.parrFD{
     text-align: left;
     font-family: Helvetica,Arial,sans-serif;
    padding-left: 10px;
}
.enlacesf{
    float: left;
    margin: 1em;
    color: rgb(117, 117, 117);
}
.opciones{
    float: right;
    max-width: 200px;
    margin-right: 2em;
    margin-top: 2em;
}
.ultimo{
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    overflow-y: hidden;
}

@media only screen (min-width: 701px) and (max-width: 920px)  {
    .nav{
	    position: fixed;
	    z-index: 100;
    }
    .Inicio{w
    letter-spacing: 0.5px;
   height: 70px;
    width: 100%;
    position: fixed;
	z-index: 100;
    background-color: white;
    }
    .indU{
        float: left;
       padding-right: 12%;
        padding-left: 2%;
    }
    .imagIn{
    width: 124px;
    height: 22px;
    padding-left: 20px;
    padding-top: 20px;
    }
    .navMenu{
    font-size-adjust: 12px;
    margin-top: 1em;
    margin-right: 1.2em;
    }
    .divUno{
        widows: 700px;
        height: 550px;
        width: 100%;
        background-size: cover;
    }
    .Bolita{
    height: 52.9896px;
    width: 52.9896px;
    margin-left: 80%;
    margin-bottom: 3em;
    margin-top: 4.3em;
    }
    .spotimg{
    padding-left: 42%;
    width: 250px;
    }
    .parrU{
    max-width: 330px;
    font-size: 22px;
    text-align: center;
    color: white;
    padding-left: 40%;
    }
    .botonu{
    max-width: 120px;
    padding-left: 50%;
    }
    .boton{
    max-width: 120px;
    text-align: center;
    padding-bottom: 104x;
    padding-top: 14px;
    font-size: 12px;
    }
      .divT{
    letter-spacing: normal;
    text-align: center;
    }
    .subtituloD{
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 2px;
    }
    .parrT{
    max-width: 100%;
    padding-left: 10%;
     padding-right: 5%;
    }
    .divC{
    height: 85em;
    margin-left: 10%;
    }
    .partUc{
    padding-left: 14em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-align: center;
    }
    .imgCu{
    padding-top: 1em;
    max-width: 120px;
    max-height: 170px;
    padding-left: 2em;
    }
    .imgCd{
    padding-top: 10px;
    max-width: 135px;
    max-height: 120px;
    padding-left: 2.3em;
    }
    .imgCt{
    padding-top: 10px;
    max-width: 200px;
    max-height: 150px;
    padding-left: 2.3em;
    }
    .imgCc{
    padding-top: 10px;
    max-width: 300px;
    max-height: 300px;
    padding-left: 2.3em;
    }
    .imgCauto{
    max-width: 375px;
    max-height: 350px;
    padding-left:10%;
    }
    .divCinco{
    height: 450;
        width: 100%;
    }
    .divSeis{
    height: 230px;
    overflow-y: hidden;
    }
    .subSeis{
    letter-spacing: normal;
    padding-left: 3.9em;
    font-size: 2em;
    }
    .paSeis{
    padding-left: 7.6em;
    letter-spacing:1px; ;
    max-width: 670px;
    font-size: 16px;
    }
    .enlSeis{
    padding-left: 7.5em;
    letter-spacing: normal;
    }
    .divSiete{
    display: block;
    text-align: center;
    }
    .subSie{
    padding-top: 2em;
    font-size: 32px;
    }
    .parrSie{
    max-width: 500px;
    padding-left: 21%;
    font-size: 14px;
    }
    .tituloNu{
    text-align: left;
    font-size: 18px;
    padding-left: 22%;
    padding-top: 3em;
    }
    .NueImagenes{
    padding-top: 2em;
    padding-left: 20%;
    }
    .menuNueve{
    float: left;
    margin: 5%;
    }
    .imgUN{
    max-width: 80%;
    max-height: 300px;
    }
    .parrUN{
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 21px;
    max-width: 300px;
    }
    .parrUNo{
    padding-top: 1em;
    padding-bottom: 4em;
    font-size: 21px;
    max-width: 300px;
    }
    .verdeen{
    text-decoration: none;
    color: green;
    }
     .logos{
    display: block;
    }
    .enlacesf{
    display: block;
    }
}
@media only screen and (max-width: 700px){
   .navMenu{
       font-size: 0%;
       width: 0%;
    }
    .navMenuI{
        margin-left: 10%;
    }
    .indU{
        float: left;
       padding-right: 12%;
        padding-left: 14%;
    }
    .imagIn{
    width: 118px;
    height: 20px;
    }
     }
    .navMenu{
    font-size-adjust: 10px;
    margin-top: 2%;
    margin-right: 1em;
    }
    .divUno{
        widows: 500px;
        height: 65%;
        width: 100%;
        background-size: cover;
    }
    .Bolita{
    display: none;
    }
    .spotimg{
    padding-left: 30%;
    margin-top: 4em;
    width: 50%;
    }
    .parrU{
    max-width:70%;
    font-size: 12px;
    text-align: center;
    padding-left: 20%;
    }
    .botonu{
    max-width: 50%;
    padding-left: 30%;
    }
    .boton{
    max-width: 100%;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;
    font-size: 70%;
    }
    .subtituloD{
    font-size: 100%;
    font-weight: 200%;
    }
    .parrT{
    max-width: 100%;
    padding-left: 10%;
     padding-right: 5%;
    }
    .divC{
    height: 110%;
    margin-left: 5%;
    overflow-y: hidden;
    }
    .partUc{
    padding-left: 10%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    }
    .imgCu{
    padding-top: 0%;
    max-width: 120px;
    max-height: 170px;
    padding-left: 35%;
    }
    .imgCd{
    padding-top: 0%;
    max-width: 135px;
    max-height: 120px;
    padding-left: 70%;
    }
    .imgCt{
    padding-top: 0%;
    max-width: 150px;
    max-height: 120px;
    padding-left: 55%;
    }
    .imgCc{
    padding-top: 0%;
    max-width: 90%;
    max-height: 60%;
    padding-left: 0%;
    }
    .imgCauto{
    max-width: 95%;
    max-height: 350px;
    padding-left:5%;
    }
    .divCinco{
    height: 320px;
     width: 100%;
    }
    .divSeis{
    height: 250px;
    overflow-y: hidden;
    }
    .subSeis{
    letter-spacing: normal;
    padding-left: 10%;
    font-size: 1.6em;
    }
    .paSeis{
    padding-left: 10%;
    letter-spacing:1px; ;
    max-width: 670px;
    font-size: 18px;
    }
    .enlSeis{
    padding-left: 10%;
    letter-spacing: normal;
    }
    .divSiete{
    display: block;
    text-align: center;
    }
    .subSie{
    padding-top: 10%;
    font-size: 32px;
    }
    .parrSie{
    max-width: 500px;
    padding-left: 3%;
    font-size: 14px;
    }
    .imgOcho{
        width: 100%;
        height: 150px;
        overflow-y: hidden;
    }
    .tituloNu{
    text-align: left;
    padding-left: 10%;
    padding-top: 3em;
    }
    .NueImagenes{
    padding-top: 1em;
    padding-left: 10%;
    }
    .menuNueve{
    float: left;
    margin: 5%;
    }
    .imgUN{
    max-width: 100%;
    max-height: 300px;
    }
    .parrUN{
    display: none;
    }
    .parrUNo{
    display: none;
    }
    .logos{
    display: none;
    }
    .enlacesf{
    display: none;
    }
}
